.editor {
  > * + * {
    margin-top: 0.75em;
  }

  ul,
  ol {
    padding: 0 1rem;
  }

  ul {
    list-style: disc;
  }

  ol {
    list-style: decimal;
  }

  blockquote {
    padding: 55px 70px 55px 70px;
    text-align: center;
    font-size: 1.25rem;
    color: #121212;
    border-radius: 12px;
    background: #fafafb;
    margin-top: 56px;
    margin-bottom: 56px;
  }

  p {
    font-size: 1.25rem;
    color: #121212;
    padding-top: 24px;
    padding-bottom: 24px;
  }

  h1 {
    font-size: 28px;
    font-weight: 700;
    color: #121212;
  }

  h2 {
    font-size: 22px;
    font-weight: 600;
    color: #121212;
  }

  h3 {
    font-size: 18px;
    font-weight: 600;
    color: #121212;
  }

  @media screen and (max-width: 768px) {
    blockquote {
      padding: 55px 20px 55px 20px;
    }

    ul,
    ol {
      padding: 0 0.5rem;
    }

    h1 {
      font-size: 24px;
    }

    h2 {
      font-size: 20px;
    }

    h3 {
      font-size: 16px;
    }

    p {
      font-size: 1rem;
    }
  }
}
